layout {

    focus-ring {
        active-color   "#fa5153"
        inactive-color "#291414"
        urgent-color   "#990406"
    }

    border {
        active-color   "#fa5153"
        inactive-color "#291414"
        urgent-color   "#990406"
    }

    shadow {
        color "#29141470"
    }

    tab-indicator {
        active-color   "#fa5153"
        inactive-color "#980002"
        urgent-color   "#990406"
    }

    insert-hint {
        color "#fa515380"
    }
}

recent-windows {
    highlight {
        active-color "#fa5153"
        urgent-color "#990406"
    }
}
