layout {

    focus-ring {
        active-color   "#4e94fd"
        inactive-color "#03193a"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#4e94fd"
        inactive-color "#03193a"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#03193a70"
    }

    tab-indicator {
        active-color   "#4e94fd"
        inactive-color "#003d99"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#4e94fd80"
    }
}

recent-windows {
    highlight {
        active-color "#4e94fd"
        urgent-color "#fd4663"
    }
}
